# VacationPy

In [1]:
import sys
sys.path.append("..")

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import vacation_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
output_data_file = "output_data/cities.csv"
VacationPy = pd.read_csv('output_data/cities.csv',index_col='City')
VacationPy.reset_index(inplace=True)
VacationPy

,City,City_ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ostrovnoy,0,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,mahebourg,1,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,qaanaaq,2,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,zhuhai,3,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,cape town,4,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,yabrud,543,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,paraiso,544,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,veraval,545,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,novyy urgal,546,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,tongren,547,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#Configure GMaps
gmaps.configure(api_key=vacation_api_key)

In [10]:
#Weight using Lat and Lng
locations = VacationPy[["Lat", "Lng"]].astype(float)
weights = VacationPy["Humidity"]

fig = gmaps.figure()

#Add Heatmap Layer
heat_layer = gmaps.heatmap_layer(locations,weights = weights,
                              dissipating=False, max_intensity=100,
                              point_radius = 2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions:
* A max temperature higher than 60 degrees but lower than 75 degrees
* Wind speed less than 5 m/s
* Zero Cloudiness
* Drop any rows will null values.

In [6]:
perfect_weather = VacationPy.loc[VacationPy["Max Temp"]<60]
perfect_weather

,City,City_ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ostrovnoy,0,2,RU,1558378754,72,68.05,39.51,37.50,7.16
2,qaanaaq,2,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,zhuhai,3,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,cape town,4,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
8,tiksi,8,95,RU,1558378756,88,71.64,128.87,14.10,15.70
...,...,...,...,...,...,...,...,...,...,...
540,talmenka,540,40,RU,1558378897,76,53.82,83.56,51.80,11.18
541,tamworth,541,64,AU,1558378897,87,-31.09,150.93,44.60,5.82
542,perth,542,20,GB,1558378872,82,56.40,-3.43,59.00,3.36
546,novyy urgal,546,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,tongren,547,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure