# VacationPy

In [1]:
import sys
sys.path.append("..")

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import vacation_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
output_data_file = "output_data/cities.csv"
VacationPy = pd.read_csv('output_data/cities.csv',index_col='City')
VacationPy.reset_index(inplace=True)
VacationPy

,City,City_ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ostrovnoy,0,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,mahebourg,1,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,qaanaaq,2,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,zhuhai,3,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,cape town,4,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,yabrud,543,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,paraiso,544,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,veraval,545,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,novyy urgal,546,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,tongren,547,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#Configure GMaps
gmaps.configure(api_key=vacation_api_key)

In [10]:
#Weight using Lat and Lng
locations = VacationPy[["Lat", "Lng"]].astype(float)
weights = VacationPy["Humidity"]

fig = gmaps.figure()

#Add Heatmap Layer
heat_layer = gmaps.heatmap_layer(locations,weights = weights,
                              dissipating=False, max_intensity=100,
                              point_radius = 2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions:
* A max temperature higher than 60 degrees but lower than 75 degrees
* Wind speed less than 5 m/s
* Zero Cloudiness
* Drop any rows will null values.

In [13]:
perfect_weather = VacationPy[(VacationPy['Max Temp'] >=60) &
                             (VacationPy['Max Temp'] <=75) &
                             (VacationPy['Wind Speed'] <5) &
                             (VacationPy['Cloudiness'] <5)].dropna().reset_index(drop=True)
perfect_weather

,City,City_ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ambilobe,87,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
1,sanchazi,141,0,CN,1558378781,82,30.43,103.62,64.40,2.24
2,ganzhou,149,1,CN,1558378783,66,25.86,114.93,64.32,3.42
3,mocuba,231,1,MZ,1558378804,90,-16.84,36.99,65.76,2.42
4,mogok,297,0,MM,1558378844,51,22.92,96.51,72.24,2.77
5,chiredzi,346,0,ZW,1558378856,42,-21.05,31.67,65.76,0.78
6,noumea,508,0,NC,1558378811,77,-22.28,166.46,64.40,2.24
7,la seyne-sur-mer,538,0,FR,1558378897,72,43.10,5.88,69.01,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df = perfect_weather
hotel_df['Hotel Name'] = ""

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure